/config.env
/set-test-env.sh

# test logs/results
/test.log
/test-*

__pycache__
*.pyc
target
*.swp

# XSpec
**/xspec/*
xslt/**/*-result.html
xslt/**/*-result.xml

.ropeproject


.vscode/settings.json
