/config.env
/set-env.sh
/set-test-env.sh

# test logs/results
/test.log
/test-*

__pycache__
*.pyc
target
*.swp

# XSpec
**/xspec/*
xslt/**/*-result.html
xslt/**/*-result.xml

.ropeproject


.vscode/settings.json
.vs/
env/Lib/site-packages/
env/Scripts/
