BOOK_ARCHIVE_DIRS=master=/tmp/book-archive share=/tmp/book-share distribution=/tmp/book-distribution
TRIGGER_DIR=/tmp/trigger-produksjonssystem
PIPELINE2_HOME=~/Desktop/daisy-pipeline
ORIGINAL_ISBN_CSV=~/Desktop/original-isbn.csv
CONFIG_FILE=~/Desktop/produksjonssystem.yaml

AIRBRAKE_PROJECT_ID=
AIRBRAKE_PROJECT_KEY=
AIRBRAKE_ENVIRONMENT=development
