authlib==0.11
blinker==1.4
dotmap==1.2.20
Flask==1.0.3
graphviz==0.5.2
lxml==4.6.3
Markdown==2.6.11
psutil==5.6.6
pybrake==0.4.2
pydub==0.23.0
python-docx==0.8.10
python_dateutil==2.8.1
PyYAML==5.1.1
requests==2.20.0
requests_toolbelt==0.9.1
slackclient==2.0.1
mutagen==1.45.1