#!/bin/bash

# script directory
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

export TEST=true

export BOOK_ARCHIVE_DIRS="master=/tmp/book-archive share=/tmp/book-archive-share distribution=/tmp/book-archive-distribution news=/tmp/book-archive-news"
export TRIGGER_DIR="/tmp/trigger-produksjonssystem"
export PIPELINE2_HOME="$HOME/Desktop/daisy-pipeline"
export EPUBCHECK_HOME="$HOME/Desktop/epubcheck-4.2.2"
export ORIGINAL_ISBN_CSV="$HOME/Desktop/original-isbn.csv"

if [ -f "$HOME/Desktop/produksjonssystem.yaml" ]; then
    export CONFIG_FILE="$HOME/Desktop/produksjonssystem.yaml"
else
    export CONFIG_FILE="$DIR/tests/produksjonssystem.yaml"
fi

export AIRBRAKE_PROJECT_ID=
export AIRBRAKE_PROJECT_KEY=
export AIRBRAKE_ENVIRONMENT=development
