#!/bin/bash

# script directory
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

export TEST=true

export NLB_API_URL=https://api.dev.nlb.no/v1
export HOST=0.0.0.0
export PORT=3875

export MAIL_SERVER=""
export MAIL_PORT="25"
export MAIL_USERNAME=""
export MAIL_PASSWORD=""

export MAIL_FORMATKLAR=
export MAIL_FILESIZE=
export MAIL_ABKLAR=
export ALLOWED_EMAIL_ADDRESSES_IN_TEST=  # comma separated list of e-mails

export BOOK_ARCHIVE_DIRS="master=$DIR/target/system/prodsys-archive share=$DIR/target/system/prodsys-daisy202 distribution=$DIR/target/system/prodsys-distribution"
export TRIGGER_DIR="$DIR/target/system/prodsys-trigger"
export REPORTS_DIR="$DIR/target/system/prodsys-rapporter"

if [ -f "$HOME/Desktop/produksjonssystem.yaml" ]; then
    export CONFIG_FILE="$HOME/Desktop/produksjonssystem.yaml"
else
    export CONFIG_FILE="$DIR/tests/produksjonssystem.yaml"
fi

export AIRBRAKE_PROJECT_ID=
export AIRBRAKE_PROJECT_KEY=
export AIRBRAKE_ENVIRONMENT=development

# Lokal instans av Pipeline 2 (defaults to /opt/daisy-pipeline2)
# export PIPELINE2_HOME="$HOME/Desktop/daisy-pipeline"

# Pipeline 2 i swarm (erstatt dette med localhost hvis vi fjerner støtte for lokale Pipeline 2-instanser)
export REMOTE_PIPELINE2_WS_AUTHENTICATION="false false false"
export REMOTE_PIPELINE2_WS_AUTHENTICATION_KEYS="none none none"
export REMOTE_PIPELINE2_WS_AUTHENTICATION_SECRETS="none none none"
export REMOTE_PIPELINE2_WS_ENDPOINTS="http://nlbdocker-dev.lx.nb.no:18150/ws http://nlbdocker-dev.lx.nb.no:18151/ws http://nlbdocker-dev.lx.nb.no:18161/ws http://nlbdocker-dev.lx.nb.no:18152/ws"
