@namespace epub  'http://www.idpf.org/2007/ops';

html {
  color: #000;
  font-family: verdana;
 font-size: 13px;
}


sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.75em;
}

sub {
  top: 0.2em;
}

u {
  text-decoration: underline;
}

ul {list-style-type: disc;}
ul ul  {list-style-type: disc;}
ul ul ul  {list-style-type: disc;}
ul ul ul ul {list-style-type: disc;}


ol ul  {list-style-type: disc;}
ul ol ul  {list-style-type: disc;}
ul ul ol ul {list-style-type: disc;}



.hang {

text-indent: -1em;
margin-left: 4em;

}

.margpos {
text-indent: 0em;
margin-left: 0em;
}


figure {
padding: 0em; 
 margin: 0em; 
  display: block; 
}

figcaption {
padding: 0em; 
 margin: 0em; 
  display: block; 
}

p {
 text-indent:2%;
padding: 0em; 
 margin: 0em; 
  display: block; 
}



[epub|type~='note']{
 padding-top: 0em; 
 margin-top: 0em; 
  display: block; 
}
[epub|type~='pagebreak']{

 padding-top: 0.5em; 
 display: block; 

}
section{
 padding: 0em; 
 margin: 0em; 
  display: block; 
 
}

section section{
 padding: 0em; 
 margin: 0em; 
  display: block; 
 }



section section section{
 padding: 0em;
 margin: 0em; 
  display: block; 

}
.table figcaption header h1 {
  font-weight: bold;
}

table {
  background: transparent;
  border-style: solid;
  border-width: 2px 1px 2px;
  border-color: #468173;
  padding: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 13pt;
  font-family: "Verdana", sans-serif; 
  margin-top: 0em ;
  margin-bottom: 0em ;
 
  width: 100%;
  border-collapse: collapse;
}
caption {
  /*background: rgba(70, 129, 115, 0.15);*/
display: table-caption;
 font-size: 13pt;
  font-family: "Verdana", sans-serif; 
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
 
  
  color: #468173;
  width: 100%;
 
}
table thead {
  border-bottom: 1px solid #468173;
}

table th {
  /*background: rgba(70, 129, 115, 0.15);*/
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  
  font-size: 13pt;
  font-family: "Verdana", sans-serif; 
  text-align: left;

  
}
table td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 13pt;
  font-family: "Verdana", sans-serif; 
  
  text-align: left;
}
table tfoot td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 13pt;
  font-family: "Verdana", sans-serif; 
 
  text-align: left;
}

ttable td p{

text-align: left;
}


table td p{
font-size: 13pt; 
font-family: "Verdana", sans-serif; 

text-align: left;
 text-indent:0%;
padding: 0em; 
 margin: 0em; 
 display: block; 
}




aside, blockquote, figure, header, iframe,
nav, object, pre, div, section, table {

page-break-after: avoid;
}


