@namespace epub  'http://www.idpf.org/2007/ops';

html {
  color: #000;
  font-family: verdana;
 font-size: 13px;
}


sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.75em;
}

sub {
  top: 0.2em;
}

u {
  text-decoration: underline;
}



ol.nomargin {
list-style-type: none;
  margin-left: -57px;
}
/*
ol {
    counter-reset: item inherit;
padding: 0em; 
margin-left: -20px;
  display: block; 
}


ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
*/
li{
padding-left: 0px;
 
}

/*ol {
padding-left: 0px;
list-style-type: decimal; 
text-indent:0%;
}
ol ol {
  list-style-type: lower-latin;
 text-indent:2%;
} 

ol ol ol {
  list-style-type: decimal;
 text-indent4%;
}
ol ol ol ol {
  list-style-type: lower-latin;
 text-indent:6%;
}


ol p {
  margin-bottom: 0;
}
ol img {
  margin-bottom: 1.5em;
}*/

ul {
  list-style-type: none;
  }
ul ul {
  list-style-type: none;
 text-indent:2%;
}
ul ul ul {
  list-style-type: none;
 text-indent:4%;
}
ul ul ul ul {
  list-style-type: none;
 text-indent:6%;
}
ul li > p {
 text-indent:2%; 
}

ol ul{
 text-indent:12%;

}
ol p{
 text-indent:2%;

}
ol li p{
margin-left: 12%;
text-indent:2%;
}

ol ul li{
margin-left: 12%;
text-indent:2%;
}



figure {
padding: 0em; 
 margin: 0em; 
  display: block; 
}

figcaption {
padding: 0em; 
 margin: 0em; 
  display: block; 
}

p {
 text-indent:2%;
padding: 0em; 
 margin: 0em; 
  display: block; 
}



[epub|type~='note']{
 padding-top: 0em; 
 margin-top: 0em; 
  display: block; 
}
[epub|type~='pagebreak']{

 padding-top: 0.5em; 
 display: block; 

}
section{
 padding: 0em; 
 margin: 0em; 
  display: block; 
 
}

section section{
 padding: 0em; 
 margin: 0em; 
  display: block; 
 }



section section section{
 padding: 0em;
 margin: 0em; 
  display: block; 

}
.table figcaption header h1 {
  font-weight: bold;
}

table {
  background: transparent;
  border-style: solid;
  border-width: 2px 1px 2px;
  border-color: #468173;
  padding: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  
  margin-top: 0em ;
  margin-bottom: 0em ;
 
  width: 100%;
  border-collapse: collapse;
}
caption {
  /*background: rgba(70, 129, 115, 0.15);*/
display: table-caption;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  
  color: #468173;
  width: 100%;
 
}
table thead {
  border-bottom: 1px solid #468173;
}

table th {
  /*background: rgba(70, 129, 115, 0.15);*/
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  text-align: left;
  color: #468173;
  
}
table td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  text-align: left;
}
table tfoot td {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #468173;
  padding: 0.75em;
  margin: 0em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #585858;
  text-align: left;
}

ttable td p{
vertical-align: top;
text-align: left;
}




aside, blockquote, figure, header, iframe,
nav, object, pre, div, section, table {

page-break-after: avoid;
}


